* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  -webkit-user-select: none;
}

html { font-size: 15px; }

.board, .log {
  margin: 2rem 2rem 0;
  float: left;
}

.square {
  width: 5rem;
  height: 5rem;
  border: 5px solid lemonchiffon;
  float: left;
  position: relative;
  background-color: lemonchiffon;
}

.square .man { position: absolute; }

.man i {
  pointer-events: none;
  position: absolute;
  font-style: normal;
}

.man.white .mask { color: black; }
.man.black .mask { display: none; }

.square.black {
  background-color: green;
  border-color: green;
}

.square.active { border: 5px inset darkorange; }
.square.threatened { border: 5px inset yellow; }

.man.white { color: #EEE; }
.man.active { color: darkorange; }

aside .man {
  margin: 0.5rem;
  width: 5rem;
  height: 5rem;
}

.modal .board {
  opacity: 0.1;
  pointer-events: none;
}

aside {
  font-size: 4rem;
  display: -webkit-box;
  position: absolute;
  left: 13rem; top: 22rem;
}

.man {
  font-size: 5rem;
  line-height: 1em;
/*  vertical-align: middle;
  text-align: center;*/
}







