* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  -webkit-user-select: none;
}

html, body { height: 100%; }


.board, .log { margin: 2.5rem; }

.square {
  width: 5rem;
  height: 5rem;
  border: 5px solid lemonchiffon;
  float: left;
  position: relative;
  background-color: lemonchiffon;
}

.square.black {
  background-color: green;
  border-color: green;
}

.square.active { border: 5px inset darkorange; }
.square.threatened { border: 5px inset yellow; }

.man {
  font-size: 5em;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
}

.man.active { color: darkorange; }

.modal { display: none; }
.modal .man { margin: 0.5rem; }

.promotion .board {
  opacity: 0.1;
  pointer-events: none;
}

.promotion .modal {
  display: -webkit-box;
  position: absolute;
  left: 13rem; top: 22rem;
}







